.row
  .col-md-8
    %b Name
    %br
    -@projects.each do |project|
      =link_to project.name, project_path(project)
      .pull-right
        ="Creator #{project.user.email}"

      %br
  .col-md-4
    = link_to "create project", new_project_path
    %br
