// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar{
  margin-bottom: 0 !important;
}


.container_login_user{
  width:100%;
  height: 100%;
  background-image: url('login.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .login_user{
    background: honeydew;
    opacity: 0.6;
    padding: 10px;
    position: absolute;
    left: 140px;
    top: 90px;
  }
}
.field input{
  padding:5px;
  margin: 10px;
  border: 1px solid black;
}
.row{
  margin: 10px 10px 10px 10px !important;
}
#new_project{
  background: honeydew;
  opacity: 0.6;
  padding: 10px;
  position: absolute;
  left: 190px;
  top: 190px;
}
.cont{
  width:100%;
  height:100%;
  background-image: url('login.jpg');

}
.task {
  border: 1px solid black;
  margin: -1px;
}
.form_task{
  top: 50px;
  left: 200px;
  position: absolute;
}
.task_child{
  margin-left: 200px;
}
.children{
  border: 1px solid #31b0d5;
}
.all_proj {
  background: url('hq-wallpapers_ru_abstraction3d_875_1920x1200.jpg');
  height: 100%;
  margin-top: -10px;
  width: 100%;
  font-family: "Comic Sans MS";
  font-size: 1.3em;
}
.proj {
  background: url('hq-wallpapers_ru_abstraction3d_875_1920x1200.jpg');
  height: 100%;

  width: 100%;
  font-family: "Comic Sans MS";
//  font-size: 1.3em;
}

.lvl1{padding-left: 5px !important;}
.lvl2{padding-left: 10px !important;}
.lvl3{padding-left: 15px !important;}
.lvl4{padding-left: 20px !important;}
.lvl5{padding-left: 25px !important;}
.Proj_create {
  color: forestgreen;
  font-size: 1.5em;
  text-decoration: underline;
}
